.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    border-bottom: 4px solid rgb(0, 0, 0);    
}

.header2 {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    border-bottom: 4px solid rgb(0, 0, 0);
}
.logo img {
    height: 50px;
    width: 80px;
}
.logo2 {
    display: flex;
    justify-content: flex-end;
}
.logo2 img {
    width: 150px;
}
.menu {
    display: flex;
    gap: 60px;
    font-weight: bold;
}
.menu a {
    text-decoration: none;  
    color: black;  
    cursor: pointer; 
}

.buttons {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.menu-button, .hamburger-button {
    cursor: pointer;
    border: none;
    background: #edd3fc;
    padding: 10px;
    border-radius: 90%;
    align-items: flex-start;
    justify-content: center;
    font-size: 19px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.hamburger-button {
    width: 48px;
    height: 42px;
}
.hamburger-button div {
    width: 28px;
    height: 3px;
    background: black;
    margin: 3px 0;
}
.dropdown {
    position: absolute;
    top: 80px;
    right: 25px;
    background: #fff;
    padding: 10px;
    border-radius: 20px;

    opacity: 0.5;
    transform: translateY(-30px);
    visibility:collapse;
    transition: opacity 0.3s ease, transform 0.3s ease;

}
.dropdown.active {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}
.dropdown a {
    display: block;
    margin: 6px 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.close {
    cursor: pointer;
    font-size: 20px;
    float: right;
}
.name {
display: flex;
justify-content: center;
align-items: center;
height: 60px;
text-align: center;
font-family: Comic Sans MS, Comic Sans, cursive;
font-size: 20px;
font-weight: bold;
}
.arrow {
    width: 50px;
    height: auto;
}
.arrows{
    display: flex;
    justify-content: space-between;
    width: 50px;
    margin: 0 auto;
    gap: 60px;
    transform: translateX(-55px);
}
.exam-container {
padding: 1px; 
display: flex;
justify-content: center;
align-items: center;
gap: 100px; 
margin-top: 20px; 
height: 100px; 
overflow: hidden; 
}
.exam-container img {
max-height: 100%; 
max-width: 100%; 
object-fit: contain; 
}
.prepod {
margin: 23px;
align-items: center;
text-align: center;
display: flex;
justify-content: center;
font-size:20px;
}
.results-container {
display: flex;
justify-content: center;
margin-top:20px;
margin-left: auto;
margin-right: auto;
align-items: center;
display: flex;
max-width: 1100px; 
transform: translateX(50px);
gap:20px;         
}
.results-column {
width: 20px;
flex: 0.17;
margin: 0px;
padding: 10px;
box-sizing: border-box;

}
.border-top {
    border-top: 4px solid rgb(0, 0, 0);
    background: #edd3fc;
    padding: 20px 0;
}
.reviews-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 40px;
justify-content: center;
max-width: 600px;
margin: 0 auto 0 auto;
padding-bottom: 30px;
border-bottom: 4px black;

transform: translateX(0px);
width: 55px;
}
.review {
width: 150px;
height: 150px;
background: url('../img/rewiev.jpg') center/cover no-repeat;
border-radius: 5px;
}

.form-container {
    border-bottom: 2px rgb(0, 0, 0);
    min-height: 600px;
    margin: 210px;
    margin-bottom: 180px;


}
.form-container2 {
    border-top: 2px black;
    outline: 4px solid black;
    min-height: 100vh;
    height: auto;
    width: 100%;
    position: relative;
    background-image: url(../img/backgtound.png);
    background-blend-mode: color;
    background-position: fixed;
    background-attachment: fixed;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-bottom: 2px rgb(4, 4, 4);
    margin: 0;
    padding: 0;
}
.form-container2 * {
    margin-bottom: 0;
}

.auth-container {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-750px,-100px);
    background: #edd3fc;
    padding: 20px;
    border-radius: 10px;
    width: 480px;
    border-radius: 3%;
    text-align: center;
    margin-top:200px;
    
}
.auth-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-container button {
    width: 100%; 
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}
.auth-container input::placeholder {
    font-weight: bold; 
    color: #edd3fc;
    font-family: Comic Sans MS, Comic Sans, cursive;
}



input {
    width: 96%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    font-weight: bold;
}
button {
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: purple;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}
span {
    margin-left: 93px;
}
.payment-wrapper {
    background-color: #f5e6ff;
    padding: 20px 30px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
  }
  
  .payment-link {
    text-decoration: none;
  }
  
  .inner-button {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
  }
  
  .price {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif;
    color: #000;
  }
  .info-block {
    position: relative;
    border-top: 4px solid #000;
    margin-top: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .info-text {
    margin: 0;
    font-weight: bold;
  }
  
  .info-image {
    position: absolute;
    right: 10px;
    height: 60px;
  }